html {
  font-family: proxima-nova,"Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
  box-sizing: border-box;
  border: none;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-logo--loaded {
  animation-duration: 1s;
}


.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.App-button {
  font-size: 24px;
  color: #fafafa;
  background: #cc7a6f;
  border-radius: 4px;
  padding: 8px 16px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.3);
  font-weight: 400;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
